@import "bootstrap";
@import "_bootstrap_overrides";
@import "_fonts";

body {
  background: url('images/bg-body.png');
  color: #cacaca;
  font-family: $proxima-nova-regular;
}

header h1 a {
  background: url('images/logo.png') no-repeat 0 0;
  display: block;
  height: 66px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 350px;
}

header, #content-top, #content-primary, footer {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  margin-bottom: 30px;
}

footer {
  margin-bottom: 0;
}

nav span {
  font-size: 14px;
  line-height: 45px;
}

#content-top {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;

  h3 {
    color: #add946;
    font-family: $proxima-nova-semibold;
    text-transform: uppercase;
  }
}

header {
  -webkit-border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-bottomleft: 7px;
  -moz-border-radius-bottomright: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.coming-soon-overlay {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 999px;

  &:hover {
    background: url('images/coming-soon.png') no-repeat center center;
  }
}

#content-primary {
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-topright: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  margin-bottom: 0;

  .featured-tile {
    a {
      display: block;
      position: relative;

      img {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        margin: 0 0 9px 0;
      }
    }
  }
  .well {
    color: #333;
  }

  h3 {
    color: #add946;
    font-family: $proxima-nova-semibold;
    margin: 0 0 9px 0;
    text-transform: uppercase;
  }

  ul.table {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #999;
    list-style: none;
    margin: 0 0 9px 0;
    padding: 0;

    li {
      border-bottom: 1px solid #999;
      overflow: hidden;
      padding: 5px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.3);
        color: #fff;
      }

      &:last-child {
        border-bottom: none;
      }

      h3 {
        font-size: 110%;
        text-transform: none;
      }
    }
  }
}
